{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>sp-donate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/prof.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/mcface.css' %}">
</head>

<body>
    <div class="prof_top">
        <div class="in_prof_top_left">
            <a>о нас</a>
        </div>

        <div class="in_prof_top_mid">
            <a href="/auth/streamers">SP DONATE</a>
        </div>

        <div class="in_prof_top_right">
            <img src="">
            <a href="/auth/user">профиль</a>
        </div>
    </div>

    <div class="prof_cont">
        <div class="in_prof_cont_mc">
            <a href="https://spworlds.ru/spm/users/{{ mcname }}">{{ mcname }}</a>
            <div class="mc-face-viewer-8x" style="background-image:url(' {{ mcskin }}');"></div>
        </div>

        <div style="margin-top: 10vw;"></div>

        <div>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="myInputText" size="100" maxlength="100" required class="input_text">
                <input type="number" name="myInputSumm" step="1" value="1" min="0" max="1024" required>
                <button type="submit">Submit</button>
            </form>
        </div>

        <def class="in_prof_cont_mc">
            <button class="login-btn-2">донат</button>
        </def>
    </div>



</body>
</html>